<nav class="navbar navbar-dark bg-primary justify-content-between">
  <a class="navbar-brand">Hackathon</a>

  <ul class="navbar-nav">
    <% if user_signed_in? %>
      <li class="nav-item ">
        <%= link_to destroy_user_session_path(@user), class: 'nav-link', method: :delete do %>
          Log Out (<%= current_user.user_id %>)
        <% end %>
      </li>
    <% else %>
      <li class="nav-item">
        <%= link_to 'Log In', new_user_session_path, class: 'nav-link' %>
      </li>
    <% end %>
  </ul>
</nav>